<h1>Edit Country</h1>

<!-- catching any errors from county -->
<% if(errors !=undefined){ %>
    <ul>
        <% errors.forEach((error)=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <!-- reads in data from country selected, can edit code and name -->
        <% countries.forEach((country)=>
            { %>
            <form action="/updateCountry" method="POST">

                <label>Country Code</label>
                <input type="text" name="code" value="<%= country.co_code %>"><br>
                <label>Country Name</label>
                <input type="text" name="name" value="<%= country.co_name %>"><br>
                <label>Country Details</label>

                <textarea type="text" name="details" placeholder=" <%= country.co_details %>" rows="4"
                    cols="50"></textarea>
                <input type="submit" value="Update">
            </form>

            <% }) %>

                <a href="/">Home</a>